@font-face {
    font-family: 'SilkscreenNormal';
    src: url('slkscr-webfont.eot');
    src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscr-webfont.woff') format('woff'),
         url('slkscr-webfont.ttf') format('truetype'),
         url('slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SilkscreenBold';
    src: url('slkscrb-webfont.eot');
    src: url('slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscrb-webfont.woff') format('woff'),
         url('slkscrb-webfont.ttf') format('truetype'),
         url('slkscrb-webfont.svg#SilkscreenBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
