@import url(../fonts/silkscreen.css);
html{
    background-color:#000;
}
body{
    position:relative;
    margin:0 auto;
}
canvas{
    position:absolute;
}
/*#background{
    z-index:111;
}
#foreground{
    z-index:555;
}
#mousemove{
    z-index:999;
}*/
